<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.developer.desafioandroidandersonpacheco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.DetalheHqActivity"
            android:label="@string/title_activity_hq"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.DetalhePersonagemActivity"
            android:label="@string/title_activity_detalhe"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_lista"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="br.gov.sp.prodesp.pptdigital"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>